@use './partials/var' as *;


$fa-font-path: "../fonts/webfonts" !default;

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

@import '~bootstrap/scss/bootstrap';

header {
    background-color: #5d3385;

    .navbar-nav .nav-item .nav-link {
        color: rgb(0, 0, 0);
    }

    .navbar-nav .nav-item.active .nav-link,
    .navbar-nav .nav-item:hover .nav-link {
        color: green;
    }

    .navbar-nav>li>.dropdown-menu a:link,
    .navbar-nav>li>.dropdown-menu a:hover {
        background-color: #5d3385;
        color: green;
        padding: -20px;
    }


}

main{
    color: white;
    height: 80vh;
    overflow: auto;
}

.info{
img{
    width: 100%;
    max-height: 70vh;
}
}

footer{
    position: relative;
    bottom: 0;
}

.my-card{
    width: 300px;
    height: 500px;
    margin-bottom: 3rem;
    img{
        width: 100%;
        height: 80%;
    }
}

.my-modal{
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    position: absolute;
    top: 0;
    background-color: rgba($color: #000000, $alpha: 0.7);
    .my-modal-body{
        width: 250px;
        height: 150px;
    }
}

.visible{
    visibility: visible;
}
.not-visible{
    visibility: hidden;
}
